In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("Python/Position_Salaries.csv")
data.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [3]:
X=data.iloc[:,1:-1]
y=data.iloc[:,-1]

# training data

In [4]:
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor(random_state=0)
regressor.fit(X,y)

DecisionTreeRegressor(random_state=0)

In [5]:
regressor.predict([[6.5]])

array([150000.])

In [6]:
X_grid = np.arange(min(X), max(X), 0.01)
X_grid = X_grid.reshape((len(X_grid), 1))
plt.scatter(X, y, color = 'red')
plt.plot(X_grid, regressor.predict(X_grid), color = 'blue')
plt.title('Truth or Blu4ff (Decision Tree Regression)')
plt.xlabel('Position level')
plt.ylabel('Salary')
plt.show()

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [29]:
villan=[10,20,30,50,40]
hero=[40,50,60,70,80]
villan=sorted(villan)
hero=sorted(hero)

count=0
for i in range(0,len(villan)):
    if(hero[i]>=villan[i]):
        count+=1
if count==len(villan):
    print("WIN")
else:
    print("LOOSE")

WIN